@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;    
}

body {
    font-family:  'Poppins' , sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(images/gy3.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {

    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 35px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt {
    text-align: center;
}

.header-txt h1 {
    font-size: 85px;
    color: #FFFDFC;   
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-txt p {
    color: #FFFDFC;
    font-size: 25px;
    padding: 0 250px;
    margin-bottom: 45px;
}

.btn-1 {
    display: inline-block;
    padding: 12px 45px;
    border: 2px solid #FFFDFC;
    color: #FFFDFC;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-1:hover {
    color: #1B293A;
    background-color: #FFFDFC;
}

.general {
    padding: 50px 0;
    text-align: center;
}

.general-content {
    display: flex;
    justify-content: left;
    margin-top: 55px;
}

.general-1 {
    background-image: url(images/p1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px 50px;
    padding: 55px 55px;
}

.general-2 {
    background-image: url(images/p2.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    padding: 170px 55px;
}

.general-3 {
    background-image: url(images/p3.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    padding: 170px 55px;
}


h2 {
    font-size: 70px;
    text-transform: uppercase;
    color: #1B293A;
}

.txt h3 {
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.txt h4 {
    font-size: 18px;
    color: #332609;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.txt h5 {
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}


.txt p {
    color: #464950;
    font-size: 16px;
    padding: 0 250px;
    margin-bottom: 45px;
}

.info-1 {
    padding: 250px 0;
    background-image: url(images/);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.footer {
    padding: 100px 0 0 0;
    text-align: center;
}

.form {
    margin-top: 35px;
}

.campo {
    margin-right: 10px;
    padding: 17px 35px;
    border: 2px solid #B4B4B4;
    outline: none;
    color: #1B293A;
}

.campo::placeholder {
    color: #B4B4B4;
}

.btn-2 {
    padding: 17px 35px;
    border: 2px solid #1B293A;
    background-color: #1B293A;
    color: #FFFDFC;
}

.footer-txt {
    margin-top: 100px;
    border-top: 1px solid #B4B4B47E;
    padding: 20px 0;
}

.footer-txt p {
    color: #1B293A;
    font-size: 16px;
}

@media(max-width:991px) {
    .menu {
        padding: 30px;
    }
}
    
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1B293A;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-txt h1 {
        font-size: 50px;
    }

    .header-txt p {
        padding: 0;
    }
    
    .general {
        padding: 30px 30px 0 30px;
    }

    .general-content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .general-1,
    .general-2,
    .general-3 {
        height: 350px;
        padding: 100px;
        margin-bottom: 10px;
    }

    .info-1 {
        padding: 200px 30px;
        background-size: cover;
        margin-top: .110px;
    }

    .info-circle {
        flex-direction: column;
        align-items: center;
    }

    .circle-txt {
        width: 100%;
        margin-bottom: 25px;
    }

    .g2 {
        margin-top: -120px;
    }

    .info-2 {
        padding: 280px 30px;
        background-size: cover;
        margin-top: -180px;
    }

    h2 {
        font-size: 40px;
    }

    .footer {
        padding: 0;
        margin-top: .140px;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 0 50px;
    }

    .campo {
        margin: 0 0 10px 0;
    }

    .footer-txt {
        margin-top: 30px;
    }
